<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".APIcall_main"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Loading"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".event_alarm"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service_lb" />
        <activity android:name=".service_db" />
        <activity android:name=".service_nas" />
        <activity android:name=".service_autoscaling" />
        <activity android:name=".Payment" />
        <activity android:name=".Monitoring" />
        <activity android:name=".service_disk" />
        <activity android:name=".service_server" />
        <activity android:name=".Dashboard" />
        <activity android:name=".service_main"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>